<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>rentalProc</title>
</head>
<body>
	<h2>도서 대여 정보</h2>
	<!-- <p>도서명: <span th:text="${bookTitle}"></span></p>
	<p>저자: <span th:text="${author}"></span></p>
	<p>ISBN: <span th:text="${isbn}"></span></p>
	<p>대여자: <span th:text="${Name}"></span></p> -->
	
	<ul>
		<li th:each="b : ${bookTitle}" th:text="${b}"></li>
		<li th:each="a : ${author}" th:text="${a}"></li>
		<li th:each="i : ${isbn}" th:text="${i}"></li>
		<li th:each="n : ${Name}" th:text="${n}"></li>
	</ul>
</body>
</html>