<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<h2>전체 게시글 목록</h2>
		<table>
			<tbody>
				<tr>
					<th>글번호</th>
					<th>글제목</th>
					<th>작성자</th>
					<th>작성일</th>
					<th>글수정</th>
					<th>글삭제</th>									
				</tr>
				<tr th:each="li:${list}">
					<td th:text="${li.id}"></td>
					<td th:text="${li.title}"></td>
					<td th:text="${li.writer}"></td>
					<td th:text="${li.createdAt}"></td>
					<td>
						<a th:href="@{/board/modify(id=${li.id})}" class="btn">수정</a>
					</td>
					<td>
						<a th:href="@{/board/delete(id=${li.id})}" class="btn btn-danger"
						onclick = "return confirm('정말 삭제하시겠습니까? 삭제 후 복구가 불가능합니다.');">삭제</a>
					</td>				
				</tr>			
			</tbody>
		</table>
		<div>
			<a th:href="@{/board/write}" class="btn">글작성</a>
		</div>
	</section>
</body>
</html>