<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.board.mapper.BoardMapper">

<!-- 게시판 글작성 -->
<insert id="boardWriteDAO" parameterType="BoardDTO">
	INSERT INTO board2(title,content,writer)
	VALUES(#{title},#{content},#{writer})
</insert>

<!-- 게시판 전체목록 쿼리 -->
<select id="boardListDAO" resultType="BoardDTO">
	SELECT * FROM board2
</select>

<!-- 게시글 삭제 쿼리 -->
<delete id="boardDeleteDAO" parameterType="int">
	DELETE FROM board2 WHERE id=#{id}
</delete>

<!-- 게시글 수정 화면출력 쿼리 -->
<select id="boardModifyDAO" parameterType="int" resultType="BoardDTO">
	SELECT * FROM board2 WHRER id=#{id}
</select>

<!-- 게시글 수정 쿼리 -->
<update id="boardModifySubmitDAO" parameterType="BoardDTO">
	UPDATE board2 SET title=#{title}, content=#{content}, writer=#{writer} WHERE id=#{id}
</update>

<!-- 검색 메소드 쿼리 -->
<select id="getSearchBoardDAO" resultType="BoardDTO">
	SELECT * FROM board2
	<where>
		<choose>
			<when test="searchType === 'title'">
				title
			</when>
			<when test="searchType === 'content'">
				content
			</when>
			<when test="searchType === 'writer'">
				writer
			</when>
			<otherwise>
				createdAt
			</otherwise>			
		</choose>	
	</where>
	LIKE CONCAT("%",#{searchKeyword},"%") ORDER BY id DESC
</select>



</mapper>